<div class="forgot-password-section">
  <form>
    <div class="forgot-password-container">
      <div class="forgot-password-content">
        <mat-toolbar class="forgot-password-toolbar" color="primary"
          >Forgot Password</mat-toolbar
        >
        <mat-card>
          <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field>
              <mat-icon matPrefix>person_outline</mat-icon>
              <input
                autofocus
                type="text"
                matInput
                placeholder="Enter email"
                formControlName="email"
                [errorRef]="email"
              />
              <mat-error #email></mat-error>
            </mat-form-field>

            <button class="submit-btn" type="submit" mat-raised-button color="primary">
              Submit
            </button>
          </form>

          <br />
          <span>
            <a routerLink="/auth/login">Back to Sign In</a></span
          >
        </mat-card>
      </div>
    </div>
  </form>
</div>
