.mat-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index:999;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    max-width: 200px;
  }
}

::ng-deep .mat-menu-list {
  .mat-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    .mat-icon {
      margin: 0px;
      display: flex;
    }

    .material-symbols-outlined {
      padding: 0;

      +span {
        // padding-left: 12px;
      }
    }
  }
}