<div class="reset-password-section">
  <form>
    <div class="reset-password-container">
      <div class="reset-password-content">
        <mat-toolbar class="reset-password-toolbar" color="primary"
          >Reset Password</mat-toolbar
        >
        <mat-card>
          <form
            [formGroup]="form"
            #formDirective="ngForm"
            (ngSubmit)="onSubmit()"
          >
            <mat-form-field [class]="addNewPasswordErrorClass()">
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                type="password"
                autocomplete="false"
                matInput
                placeholder="Enter password"
                formControlName="newPassword"
                [errorRef]="newPassword"
              />
              <mat-error #newPassword></mat-error>
            </mat-form-field>

            <mat-form-field [class]="addNewConfirmPasswordErrorClass()">
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input
                type="password"
                autocomplete="false"
                matInput
                placeholder="Enter password"
                formControlName="new_confirm_password"
                [errorRef]="new_confirm_password"
              />
              <mat-error #new_confirm_password></mat-error>
            </mat-form-field>

            <button class="submit-btn" type="submit" mat-raised-button color="primary">
              Submit
            </button>
          </form>

          <br />
          <span> <a routerLink="/auth/login">Sign In</a></span>
        </mat-card>
      </div>
    </div>
  </form>
</div>
