<div class="wrapper">
    <div class="btn-section">
      <h2>{{formTitle}}</h2>
    </div>
    <form [formGroup]="productForm">
      <div class="form-fields">
        <app-input-component
            label="Product Name"
            [class]="'left-field'"
            [name]="'productName'"
            [controlName]="'productName'"
            [group]="productForm"
            type="text"
            placeholder="Product Name"
          >
        </app-input-component>
        <app-input-component
            label="Product Points"
            [class]="'right-field'"
            [name]="'productPoints'"
            [controlName]="'productPoints'"
            [group]="productForm"
            type="number"
            placeholder="Product Points"
          >
        </app-input-component>
  
      </div>
        
  
      <div class="form-fields">
        
        <mat-form-field class="full-field">
          <mat-label>Product Description</mat-label>
          <textarea 
          matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10"
            placeholder="Product Description"
            [errorRef]="productDescription"
            name="productDescription"
            formControlName="productDescription"
            ></textarea>
          <mat-error #productDescription></mat-error>
        </mat-form-field>
      </div>
      <div class="form-fields" *ngIf="productId">
        <mat-slide-toggle formControlName="productStatus">Product Status</mat-slide-toggle>
      </div>
      <div class="form-fields">
        <app-file-upload (fileSelected)="onFileSelected($event)" [productForm]="productForm" [imgUrl] = "imgUrl"></app-file-upload>
      </div>
    </form>
    <div class="form-footer">
      <button class="submit-btn" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      <a class="back-btn" mat-raised-button [routerLink]="productListRoute">Back</a>
    </div>
  </div>
  
