.form-fields {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.left-field {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}

.right-field {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}

.form-footer {
  display: flex;
  margin-top: 20px;
  .submit-btn {
    margin-right: 15px;
  }
}
